#formContainer {
    color: #555555;
    margin-top: 75px;
}

#form {
    background: #f2f2f2;
    border: 1px;
    border-color: #e0e0e0;
    border-radius: 5px;
    border-style: solid;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7%;
}

//#link:link {
  //  color: #e7d68e;
//}

#formButton {
    color: white;
    background: black;
    border-color: black;
}

#password {
    font-size: 28px;
}

#rememberMe {
    font-size: 10px;
    margin-top: -5px;
}

